body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(242, 97, 136);
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0 20px;
    box-sizing: border-box;
}

.logo img {
    width: 60px;
}

.links-nav {
    display: flex;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20vh;
}

.nav ul li {
    margin: 0 50px;
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
}

.nav ul li a {
    text-decoration: none;
    color:rgb(242, 97, 136);
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: rgb(132, 0, 93);
}

.search-box {
    display: flex;
    align-items: center;
}

.input-search {
    background-color: rgb(242, 97, 136);
    padding: 6px 10px;
    border-radius: 15px;
    border: 1px solid white;
    outline: none;
}

.input-search::placeholder {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.icon {
    width: 23px;
    margin-left: 10px;
}

.container {
    position: relative;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 30px;
    margin: 40px auto;
    box-sizing: border-box;
}

.container .card {
    position: relative;
    width: 250px;
    height: 215px;
    background-color:rgb(246, 245, 246);
    padding: 23px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: height 0.3s;
    border-radius: 10px;
}

.container .card:hover {
    height: 430px;
}

.container .card .img-card {
    position: relative;
    width: 180px;
    height: 260px;
    top: -60px;
    left: 35px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.container .card .img-card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 5px;
}

.container .card .info-card {
    position: relative;
    padding: 10px 15px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .info-card {
    visibility: visible;
    opacity: 1;
    margin-top: -55px;
    transition-delay: 0.3s;
}

.title-card {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color:  #ffffff;
}

.container .card .info-card h1 {
    font-size: 18px;
}

.container .card .info-card p {
    font-size: 15px;
    color: rgb(106, 106, 106);
}

.sobre-nos {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    background-color: rgb(246, 245, 246);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10vh auto;
    width: 60%;
}

.sobre-nos img {
    width: 180px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.sobre-texto p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

.sobre-texto h1 {
    margin: 10px 0;
    color: rgb(242, 97, 136);
}

.informacoes {
    text-align: flex-start;
    height: 35vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.texto-informacoes {
    margin-top: 5vh;
    max-width: 650px;
    text-align: left;
    margin-left: 13vh;
}

.texto-informacoes h1 {
    max-width: 600;
    font-size: 45px;
    margin: 0 0 20px 0;
    color: rgb(242, 97, 136);
    font-family: 'Pacifico', cursive;
    line-height: 1;
}

.texto-informacoes p {
    font-size: 20px;
    color: #000000;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    line-height: 1.2;
}

.texto-informacoes button {
    background-color:rgb(242, 97, 136);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 5px;
    border: none;
    width: 180px;
    margin-left: 21vh;
    font-weight: bold;
}

.texto-informacoes button a {
    text-decoration: none;
    color: white;
}

#img-info {
    position: relative;
    left: 74%;
}

#img-info img {
    width: 400px;

}

#img-info2 {
    position: relative;
    width: 200px;
}